{% extends 'account/base.html' %} {% load static %} {% load crispy_forms_tags %} {% load socialaccount %} {% block title %}Login{% endblock title %} {% block contents %}<body class="auth-body-bg">
    <div>
        <div class="container-fluid p-0">
            <div class="row g-0 bg-login-screen vh-100">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="mb-3">
                            <img src="{% static 'images/brand/ifx.png' %}" alt="" height="50" />
                        </div>
                        <div class="col-md-4">
                            <h2 class="h1 text-green-light fw-bold">Welcome!</h2>
                            <p class="h2 fw-light text-green-light mb-4">To Your Product Marketer Forecasting Tool</p>
                            <p class="lead fw-light text-green-light">See the analytics and grow your data remotely, from anywhere</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 bg-white rounded-l-10">
                    <div class="auth-full-page-content p-md-5 p-4">
                        <div class="w-100">
                            <div class="d-flex flex-column h-100 w-75 mx-auto">
                                <div class="my-auto">
                                    <div class="text-center">
                                        <h2 class="fw-bold"><i class="bx bx-lock-open-alt"></i> Login</h2>
                                        <p>Please enter your details</p>
                                    </div>

                                    <div class="mt-4">
                                        <form class="form-horizontal" action="{% url 'account_login' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %} {% for message in messages %}
                                            <div class="alert {{ message.tags }} mb-4" role="alert">
                                                <strong>{{ message }}</strong>
                                            </div>
                                            {% endfor %} {{ form|crispy}}
                                            <div class="d-grid gap-2 col-5 mx-auto">
                                                <button class="btn btn-success waves-effect waves-light rounded-pill loginBtn" type="submit">Log In</button>
                                            </div>
                                            <div class="mt-3 text-center d-grid d-md-block"></div>
                                            <div></div>

                                            <div class="mt-4 text-center">
                                                <a href="{% url 'account_reset_password' %}" class="text-muted"><i class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                                            </div>
                                        </form>
                                        <div class="mt-5 text-center">
                                            <p>Don't have an account ? <a href="{% url 'account_signup' %}" class="fw-medium text-primary"> Signup now </a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4 mt-md-5 text-center">
                                    <p class="mb-0">
                                        ©
                                        <script>
                                            document.write(new Date().getFullYear())
                                        </script>
                                        Infineon Technologies AG
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>

    {% endblock contents %} {% block extra_javascript %}
    <!-- owl.carousel js -->
    <script src="{% static 'libs/owl.carousel/dist/owl.carousel.min.js' %}"></script>

    <!-- auth-2-carousel init -->
    <script src="{% static 'js/pages/auth-2-carousel.init.js' %}"></script>
    {% endblock extra_javascript %}
</body>
