{% extends "base.html" %}
{% load static %}
{% block title %} Full Bottom Up - CY Based {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />    
{% endblock %}

{% block contents %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                          
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="col-md-12">
                                                <div class="page-header-title">
                                                    <h5 class="m-b-10"><a href="/"><i class="feather icon-home"></i></a>  Full Bottom Up - CY Based</h5>
            

                                                    
                                                </div>
                                             
                                            </div>


                                        </div>
                                        <div class="card-block">
                               
                                          
                                          <div class = "row">

                                            <div class = "col-8">
                                              {% include "partials/navigation_boup.html" %}

                                              <h4 class="display-4"></h4>
                                    
                                            </div>
                                            <div class = "col-4 float-end">
                                    
                                            </div>
                                    
                                          </div>




                                                   <!--<table id="boupTable" class="beheertable dezetabel"> --> 
          <table id="boupTable" class="display nowrap" style="width:100%; overflow-x: auto;">

            
            <thead>
                <tr>
                  <!-- 
                  <th>idApp</th>
                  <th>applicationLine</th>
                  <th>productMarketer</th>
                  -->

                  <th>Edit</th>
                  <th>Delete</th>

                  <th>Reviewed?</th>
                  <th>Review Date</th>



                    <th>ID_APP</th>
                    <th>AL</th>
                    <th>PM</th>
                    <th>HFG</th>
                    <th>PPOS</th>
                    <th>SP Number</th>

                    <th>Application Main</th>
                    <th>Application Detail</th>
                    <th>RFP</th>
                    <th>Sales Name</th>
                    <th>Price Source</th>
                    <th>Family Price Applicable?</th>
                    <th>FP details</th>
                    <th>Price Status</th>

                    <th>Currency</th>
                    <th>FX rate</th>
                    <th>Comments</th>
                    <th>Region</th>
                    <th>Project Description</th>

                    <th>Main Customer</th>
                    <th>End Customer</th>
                    <th>Distributor</th>
                    <th>Tier One</th>
                    <th>OEM</th>
                    <th>EMS</th>

                    <th>VPA Customer</th>


                    <th>Dragon_ID</th>
                    <th>Sales contact</th>
                    <th>Status / Probability</th>
                    <th>Probability</th>
                    <th>SOP</th>


                    <th>PPOS in PGS+?</th>
                    <th>Modified by</th>
                    <th>Modification date</th>
                    <th>Creation date</th>

                    <th>TIME_BottomUp</th>
                    <th>Basic Type</th>
                    <th>Package</th>
                    <th>Series</th>
                    <th>Gen</th>
                    <th>Series Long</th>
                    <th>Gen Detail</th>



                    <th>GM_LifeTime</th>
                    <th>Rev_€_LifeTime</th>
                    <th>Vol_LifeTime</th>
                    <th>Weighted_Vol_LifeTime</th>

        

                    <th>CY20_pcs</th>
                    <th>CY21_pcs</th>
                    <th>CY22_pcs</th>
                    <th>CY23_pcs</th>
                    <th>CY24_pcs</th>
                    <th>CY25_pcs</th>
                    <th>CY26_pcs</th>
                    <th>CY27_pcs</th>
                    <th>CY28_pcs</th>

                    <th>CY29_pcs</th>
                    <th>CY30_pcs</th>
                    <th>CY31_pcs</th>
                    <th>CY32_pcs</th>
                    <th>CY33_pcs</th>
                    <th>CY34_pcs</th>
                    <th>CY35_pcs</th>
                    <th>CY36_pcs</th>
                    <th>CY37_pcs</th>
                    <th>CY38_pcs</th>
                    <th>CY39_pcs</th>
                    <th>CY40_pcs</th>
                    <th>CY41_pcs</th>
                    <th>CY42_pcs</th>
                    <th>CY43_pcs</th>
                    <th>CY44_pcs</th>


                    <th>CY20_Cust_pcs</th>
                    <th>CY21_Cust_pcs</th>
                    <th>CY22_Cust_pcs</th>
                    <th>CY23_Cust_pcs</th>
                    <th>CY24_Cust_pcs</th>
                    <th>CY25_Cust_pcs</th>
                    <th>CY26_Cust_pcs</th>
                    <th>CY27_Cust_pcs</th>
                    <th>CY28_Cust_pcs</th>

                    <th>CY29_Cust_pcs</th>
                    <th>CY30_Cust_pcs</th>
                    <th>CY31_Cust_pcs</th>
                    <th>CY32_Cust_pcs</th>
                    <th>CY33_Cust_pcs</th>
                    <th>CY34_Cust_pcs</th>
                    <th>CY35_Cust_pcs</th>
                    <th>CY36_Cust_pcs</th>
                    <th>CY37_Cust_pcs</th>
                    <th>CY38_Cust_pcs</th>
                    <th>CY39_Cust_pcs</th>
                    <th>CY40_Cust_pcs</th>
                    <th>CY41_Cust_pcs</th>
                    <th>CY42_Cust_pcs</th>
                    <th>CY43_Cust_pcs</th>
                    <th>CY44_Cust_pcs</th>

                    <th>CY20_price</th>
                    <th>CY21_price</th>
                    <th>CY22_price</th>
                    <th>CY23_price</th>
                    <th>CY24_price</th>
                    <th>CY25_price</th>
                    <th>CY26_price</th>
                    <th>CY27_price</th>
                    <th>CY28_price</th>
                    <th>CY29_price</th>
                    <th>CY30_price</th>
                    <th>CY31_price</th>
                    <th>CY32_price</th>
                    <th>CY33_price</th>
                    <th>CY34_price</th>
                    <th>CY35_price</th>
                    <th>CY36_price</th>
                    <th>CY37_price</th>
                    <th>CY38_price</th>
                    <th>CY39_price</th>
                    <th>CY40_price</th>
                    <th>CY41_price</th>
                    <th>CY42_price</th>
                    <th>CY43_price</th>
                    <th>CY44_price</th>
          

                    <th>CY20_VHK_€</th>
                    <th>CY21_VHK_€</th>
                    <th>CY22_VHK_€</th>
                    <th>CY23_VHK_€</th>
                    <th>CY24_VHK_€</th>
                    <th>CY25_VHK_€</th>
                    <th>CY26_VHK_€</th>
                    <th>CY27_VHK_€</th>
                    <th>CY28_VHK_€</th>

                    <th>CY29_VHK_€</th>
                    <th>CY30_VHK_€</th>
                    <th>CY31_VHK_€</th>
                    <th>CY32_VHK_€</th>
                    <th>CY33_VHK_€</th>
                    <th>CY34_VHK_€</th>
                    <th>CY35_VHK_€</th>
                    <th>CY36_VHK_€</th>
                    <th>CY37_VHK_€</th>
                    <th>CY38_VHK_€</th>
                    <th>CY39_VHK_€</th>
                    <th>CY40_VHK_€</th>
                    <th>CY41_VHK_€</th>
                    <th>CY42_VHK_€</th>
                    <th>CY43_VHK_€</th>
                    <th>CY44_VHK_€</th>


                    <th>CY20_GM</th>
                    <th>CY21_GM</th>
                    <th>CY22_GM</th>
                    <th>CY23_GM</th>
                    <th>CY24_GM</th>
                    <th>CY25_GM</th>
                    <th>CY26_GM</th>
                    <th>CY27_GM</th>
                    <th>CY28_GM</th>

                    <th>CY29_GM</th>
                    <th>CY30_GM</th>
                    <th>CY31_GM</th>
                    <th>CY32_GM</th>
                    <th>CY33_GM</th>
                    <th>CY34_GM</th>
                    <th>CY35_GM</th>
                    <th>CY36_GM</th>
                    <th>CY37_GM</th>
                    <th>CY38_GM</th>
                    <th>CY39_GM</th>
                    <th>CY40_GM</th>
                    <th>CY41_GM</th>
                    <th>CY42_GM</th>
                    <th>CY43_GM</th>
                    <th>CY44_GM</th>


                    <th>CY20_vol_w</th>
                    <th>CY21_vol_w</th>
                    <th>CY22_vol_w</th>
                    <th>CY23_vol_w</th>
                    <th>CY24_vol_w</th>
                    <th>CY25_vol_w</th>
                    <th>CY26_vol_w</th>
                    <th>CY27_vol_w</th>
                    <th>CY28_vol_w</th>
                    
                    <th>CY29_vol_w</th>
                    <th>CY30_vol_w</th>
                    <th>CY31_vol_w</th>
                    <th>CY32_vol_w</th>
                    <th>CY33_vol_w</th>
                    <th>CY34_vol_w</th>
                    <th>CY35_vol_w</th>
                    <th>CY36_vol_w</th>
                    <th>CY37_vol_w</th>
                    <th>CY38_vol_w</th>
                    <th>CY39_vol_w</th>
                    <th>CY40_vol_w</th>
                    <th>CY41_vol_w</th>
                    <th>CY42_vol_w</th>
                    <th>CY43_vol_w</th>
                    <th>CY44_vol_w</th>


                    <th>CY20_rev_€</th>
                    <th>CY21_rev_€</th>
                    <th>CY22_rev_€</th>
                    <th>CY23_rev_€</th>
                    <th>CY24_rev_€</th>
                    <th>CY25_rev_€</th>
                    <th>CY26_rev_€</th>
                    <th>CY27_rev_€</th>
                    <th>CY28_rev_€</th>

                    <th>CY29_rev_€</th>
                    <th>CY30_rev_€</th>
                    <th>CY31_rev_€</th>
                    <th>CY32_rev_€</th>
                    <th>CY33_rev_€</th>
                    <th>CY34_rev_€</th>
                    <th>CY35_rev_€</th>
                    <th>CY36_rev_€</th>
                    <th>CY37_rev_€</th>
                    <th>CY38_rev_€</th>
                    <th>CY39_rev_€</th>
                    <th>CY40_rev_€</th>
                    <th>CY41_rev_€</th>
                    <th>CY42_rev_€</th>
                    <th>CY43_rev_€</th>
                    <th>CY44_rev_€</th>
          <!--- 
    -->
  
                  </tr>
            </thead>

            <tfoot>
              <tr>
                <th></th>
                <th></th>

                
                <th>Reviewed?</th>
                <th>Review Date</th>
                  <th>ID</th>
                  <th>AL</th>
                  <th>PM</th>
                  <th>HFG</th>
                  <th>PPOS</th>
                  <th>SP Number</th>

                  <th>Application Main</th>
                  <th>Application Detail</th>
                  <th>RFP</th>
                  <th>Sales Name</th>
                  <th>Price Source</th>
                  <th>Family Price Applicable?</th>
                  <th>FP details</th>
                  <th>Price Status</th>

                  <th>Currency</th>
                  <th>FX rate</th>
                  <th>Comments</th>
                  <th>Region</th>
                  <th>Project Description</th>


                  <th>Main Customer</th>
                  <th>End Customer</th>
                  <th>Distributor</th>
                  <th>Tier One</th>
                  <th>OEM</th>
                  <th>EMS</th>
                  <th>VPA Customer</th>



                  <th>Dragon_ID</th>
                  <th>Sales contact</th>
                  <th>Status / Probability</th>
                  <th>Probability</th>
                  <th>SOP</th>


                  <th>PPOS in PGS+?</th>
                  <th>Modified by</th>
                  <th>Modification date</th>
                  <th>Creation date</th>

                  <th>TIME_BottomUp</th>
                  <th>Basic Type</th>
                  <th>Package</th>
                  <th>Series</th>
                  <th>Gen</th>
                  <th>Series Long</th>
                  <th>Gen Detail</th>



                  <th>GM_LifeTime</th>
                  <th>Rev_€_LifeTime</th>
                  <th>Vol_LifeTime</th>
                  <th>Weighted_Vol_LifeTime</th>

      

                  <th>CY20_pcs</th>
                  <th>CY21_pcs</th>
                  <th>CY22_pcs</th>
                  <th>CY23_pcs</th>
                  <th>CY24_pcs</th>
                  <th>CY25_pcs</th>
                  <th>CY26_pcs</th>
                  <th>CY27_pcs</th>
                  <th>CY28_pcs</th>

                  <th>CY29_pcs</th>
                  <th>CY30_pcs</th>
                  <th>CY31_pcs</th>
                  <th>CY32_pcs</th>
                  <th>CY33_pcs</th>
                  <th>CY34_pcs</th>
                  <th>CY35_pcs</th>
                  <th>CY36_pcs</th>
                  <th>CY37_pcs</th>
                  <th>CY38_pcs</th>
                  <th>CY39_pcs</th>
                  <th>CY40_pcs</th>
                  <th>CY41_pcs</th>
                  <th>CY42_pcs</th>
                  <th>CY43_pcs</th>
                  <th>CY44_pcs</th>


                  <th>CY20_Cust_pcs</th>
                  <th>CY21_Cust_pcs</th>
                  <th>CY22_Cust_pcs</th>
                  <th>CY23_Cust_pcs</th>
                  <th>CY24_Cust_pcs</th>
                  <th>CY25_Cust_pcs</th>
                  <th>CY26_Cust_pcs</th>
                  <th>CY27_Cust_pcs</th>
                  <th>CY28_Cust_pcs</th>

                  <th>CY29_Cust_pcs</th>
                  <th>CY30_Cust_pcs</th>
                  <th>CY31_Cust_pcs</th>
                  <th>CY32_Cust_pcs</th>
                  <th>CY33_Cust_pcs</th>
                  <th>CY34_Cust_pcs</th>
                  <th>CY35_Cust_pcs</th>
                  <th>CY36_Cust_pcs</th>
                  <th>CY37_Cust_pcs</th>
                  <th>CY38_Cust_pcs</th>
                  <th>CY39_Cust_pcs</th>
                  <th>CY40_Cust_pcs</th>
                  <th>CY41_Cust_pcs</th>
                  <th>CY42_Cust_pcs</th>
                  <th>CY43_Cust_pcs</th>
                  <th>CY44_Cust_pcs</th>

                  <th>CY20_price</th>
                  <th>CY21_price</th>
                  <th>CY22_price</th>
                  <th>CY23_price</th>
                  <th>CY24_price</th>
                  <th>CY25_price</th>
                  <th>CY26_price</th>
                  <th>CY27_price</th>
                  <th>CY28_price</th>
                  <th>CY29_price</th>
                  <th>CY30_price</th>
                  <th>CY31_price</th>
                  <th>CY32_price</th>
                  <th>CY33_price</th>
                  <th>CY34_price</th>
                  <th>CY35_price</th>
                  <th>CY36_price</th>
                  <th>CY37_price</th>
                  <th>CY38_price</th>
                  <th>CY39_price</th>
                  <th>CY40_price</th>
                  <th>CY41_price</th>
                  <th>CY42_price</th>
                  <th>CY43_price</th>
                  <th>CY44_price</th>
        

                  <th>CY20_VHK_€</th>
                  <th>CY21_VHK_€</th>
                  <th>CY22_VHK_€</th>
                  <th>CY23_VHK_€</th>
                  <th>CY24_VHK_€</th>
                  <th>CY25_VHK_€</th>
                  <th>CY26_VHK_€</th>
                  <th>CY27_VHK_€</th>
                  <th>CY28_VHK_€</th>

                  <th>CY29_VHK_€</th>
                  <th>CY30_VHK_€</th>
                  <th>CY31_VHK_€</th>
                  <th>CY32_VHK_€</th>
                  <th>CY33_VHK_€</th>
                  <th>CY34_VHK_€</th>
                  <th>CY35_VHK_€</th>
                  <th>CY36_VHK_€</th>
                  <th>CY37_VHK_€</th>
                  <th>CY38_VHK_€</th>
                  <th>CY39_VHK_€</th>
                  <th>CY40_VHK_€</th>
                  <th>CY41_VHK_€</th>
                  <th>CY42_VHK_€</th>
                  <th>CY43_VHK_€</th>
                  <th>CY44_VHK_€</th>


                  <th>CY20_GM</th>
                  <th>CY21_GM</th>
                  <th>CY22_GM</th>
                  <th>CY23_GM</th>
                  <th>CY24_GM</th>
                  <th>CY25_GM</th>
                  <th>CY26_GM</th>
                  <th>CY27_GM</th>
                  <th>CY28_GM</th>

                  <th>CY29_GM</th>
                  <th>CY30_GM</th>
                  <th>CY31_GM</th>
                  <th>CY32_GM</th>
                  <th>CY33_GM</th>
                  <th>CY34_GM</th>
                  <th>CY35_GM</th>
                  <th>CY36_GM</th>
                  <th>CY37_GM</th>
                  <th>CY38_GM</th>
                  <th>CY39_GM</th>
                  <th>CY40_GM</th>
                  <th>CY41_GM</th>
                  <th>CY42_GM</th>
                  <th>CY43_GM</th>
                  <th>CY44_GM</th>


                  <th>CY20_vol_w</th>
                  <th>CY21_vol_w</th>
                  <th>CY22_vol_w</th>
                  <th>CY23_vol_w</th>
                  <th>CY24_vol_w</th>
                  <th>CY25_vol_w</th>
                  <th>CY26_vol_w</th>
                  <th>CY27_vol_w</th>
                  <th>CY28_vol_w</th>
                  
                  <th>CY29_vol_w</th>
                  <th>CY30_vol_w</th>
                  <th>CY31_vol_w</th>
                  <th>CY32_vol_w</th>
                  <th>CY33_vol_w</th>
                  <th>CY34_vol_w</th>
                  <th>CY35_vol_w</th>
                  <th>CY36_vol_w</th>
                  <th>CY37_vol_w</th>
                  <th>CY38_vol_w</th>
                  <th>CY39_vol_w</th>
                  <th>CY40_vol_w</th>
                  <th>CY41_vol_w</th>
                  <th>CY42_vol_w</th>
                  <th>CY43_vol_w</th>
                  <th>CY44_vol_w</th>


                  <th>CY20_rev_€</th>
                  <th>CY21_rev_€</th>
                  <th>CY22_rev_€</th>
                  <th>CY23_rev_€</th>
                  <th>CY24_rev_€</th>
                  <th>CY25_rev_€</th>
                  <th>CY26_rev_€</th>
                  <th>CY27_rev_€</th>
                  <th>CY28_rev_€</th>

                  <th>CY29_rev_€</th>
                  <th>CY30_rev_€</th>
                  <th>CY31_rev_€</th>
                  <th>CY32_rev_€</th>
                  <th>CY33_rev_€</th>
                  <th>CY34_rev_€</th>
                  <th>CY35_rev_€</th>
                  <th>CY36_rev_€</th>
                  <th>CY37_rev_€</th>
                  <th>CY38_rev_€</th>
                  <th>CY39_rev_€</th>
                  <th>CY40_rev_€</th>
                  <th>CY41_rev_€</th>
                  <th>CY42_rev_€</th>
                  <th>CY43_rev_€</th>
                  <th>CY44_rev_€</th>


              </tr>
          </tfoot>
        </table>
























                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock contents %}



<!-- Specific JS goes HERE -->
{% block extra_javascript %}


<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<!---
<script src="{% static 'js/pages/datatables.init.js' %}"></script>  
-->

<!-- Chart JS -->
<script src="{% static 'libs/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/pages/chartjs.init.js' %}"></script> 



<script>
  $(document).ready(function() {

    // column based search
      $('#boupTable tfoot th').each(function () {
          var title = $(this).text();

          if (title != "") {
          $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        }
      });


      // the data table it self
    var table = $('#boupTable').DataTable({
        // export buttons
        dom: 'Bflrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],

      scrollY: '500px',
      scrollCollapse: true,
      paging: true,
      keys: true,
      scrollX: true,
      //responsive: true,

       "ajax": {
          "processing": true,
          "url": "{% url 'boupTableAllData' %}",
          "dataSrc": "dataForTable",
        },
        "columns": [
                /*
                { "data": "projectName"},
                { "data": "salesName"},
                { "data": "region"},

                
                */

                {
                targets: 0,
                data: "idApp",
                //defaultContent: '<a class="btn btn-dark" style:"color: #AB377A" href="patientsManage/{ "data": "idApp"}">Edit [, ].name</a>',
                render: function (data) {
                  let string = '<a class="btn btn-dark" style:"color: #AB377A" href="/ifx/productMarketing/projectEdit/0/' + String(data) + '">Edit </a>';
                  return string;
                  },

                },

                {
                targets: 1,
                data: "idApp",

                  render: function (data) {
                    console.log("data", data)
                    let string = '<a class="btn btn btn-danger" href="/ifx/productMarketing/deleteProject/' + String(data) + '">Delete </a>';
                    return string;
                  },
                },

                { "data": "projectReviewed"},
                { "data": "reviewDate"},


                { "data": "idApp"},

                { "data": "applicationLine"},
                { "data": "productMarketer"},
                { "data": "hfg"},
                { "data": "ppos"},
                { "data": "spNumber"},


                { "data": "applicationMain"},
                { "data": "applicationDetail"},

                { "data": "rfp"},

                { "data": "salesName"},
                { "data": "priceSource"},
                { "data": "familyPriceApplicable"},
                { "data": "familyPriceHelper"},
                { "data": "priceType"},

                { "data": "currency"},
                { "data": "fxRate"},



                { "data": "comments"},
                { "data": "region"},
                { "data": "projectName"},

                { "data": "mainCustomer"},
                { "data": "endCustomer"},
                { "data": "distributor"},
                { "data": "tierOne"},
                { "data": "oem"},
                { "data": "ems"},
                { "data": "vpaCustomer"},




                { "data": "dragonId"},
                { "data": "salesContact"},
                { "data": "statusProbability"},
                { "data": "Probability"},
                { "data": "sop"},




                { "data": "pposAvailablePgs"},
                { "data": "modifiedBy"},
                { "data": "modifiedDate"},
                { "data": "creationDate"},

                { "data": "timeBottomUp"},
                { "data": "basicType"},
                { "data": "package"},
                { "data": "series"},
                { "data": "gen"},
                { "data": "seriesLong"},
                { "data": "genDetail"},

                { "data": "gmLifeTime"},
                { "data": "revEurLifeTime"},
                { "data": "volLifeTime"},
                { "data": "volWeightedLifeTime"},

                


                // financial KPIs


              // marketer estimated volume

                { "data": "vol2020"},
                { "data": "vol2021"},
                { "data": "vol2022"},
                { "data": "vol2023"},
                { "data": "vol2024"},
                { "data": "vol2025"},
                { "data": "vol2026"},
                { "data": "vol2027"},
                { "data": "vol2028"},
                { "data": "vol2029"},
                { "data": "vol2030"},
                { "data": "vol2031"},
                { "data": "vol2032"},
                { "data": "vol2033"},
                { "data": "vol2034"},
                { "data": "vol2035"},
                { "data": "vol2036"},
                { "data": "vol2037"},
                { "data": "vol2038"},
                { "data": "vol2039"},
                { "data": "vol2040"},
                { "data": "vol2041"},
                { "data": "vol2042"},
                { "data": "vol2043"},
                { "data": "vol2044"},

                // customer estimated volume

                { "data": "volCustomer2020"},
                { "data": "volCustomer2021"},
                { "data": "volCustomer2022"},
                { "data": "volCustomer2023"},
                { "data": "volCustomer2024"},
                { "data": "volCustomer2025"},
                { "data": "volCustomer2026"},
                { "data": "volCustomer2027"},
                { "data": "volCustomer2028"},
                { "data": "volCustomer2029"},
                { "data": "volCustomer2030"},
                { "data": "volCustomer2031"},
                { "data": "volCustomer2032"},
                { "data": "volCustomer2033"},
                { "data": "volCustomer2034"},
                { "data": "volCustomer2035"},
                { "data": "volCustomer2036"},
                { "data": "volCustomer2037"},
                { "data": "volCustomer2038"},
                { "data": "volCustomer2039"},
                { "data": "volCustomer2040"},
                { "data": "volCustomer2041"},
                { "data": "volCustomer2042"},
                { "data": "volCustomer2043"},
                { "data": "volCustomer2044"},

                // marketer estimated price
                { "data": "price2020"},
                { "data": "price2021"},
                { "data": "price2022"},
                { "data": "price2023"},
                { "data": "price2024"},
                { "data": "price2025"},
                { "data": "price2026"},
                { "data": "price2027"},
                { "data": "price2028"},
                { "data": "price2029"},
                { "data": "price2030"},
                { "data": "price2031"},
                { "data": "price2032"},
                { "data": "price2033"},
                { "data": "price2034"},
                { "data": "price2035"},
                { "data": "price2036"},
                { "data": "price2037"},
                { "data": "price2038"},
                { "data": "price2039"},
                { "data": "price2040"},
                { "data": "price2041"},
                { "data": "price2042"},
                { "data": "price2043"},
                { "data": "price2044"},

                // vhks

                { "data": "vhk2020"},
                { "data": "vhk2021"},
                { "data": "vhk2022"},
                { "data": "vhk2023"},
                { "data": "vhk2024"},
                { "data": "vhk2025"},
                { "data": "vhk2026"},
                { "data": "vhk2027"},
                { "data": "vhk2028"},
                { "data": "vhk2029"},
                { "data": "vhk2030"},
                { "data": "vhk2031"},
                { "data": "vhk2032"},
                { "data": "vhk2033"},
                { "data": "vhk2034"},
                { "data": "vhk2035"},
                { "data": "vhk2036"},
                { "data": "vhk2037"},
                { "data": "vhk2038"},
                { "data": "vhk2039"},
                { "data": "vhk2040"},
                { "data": "vhk2041"},
                { "data": "vhk2042"},
                { "data": "vhk2043"},
                { "data": "vhk2044"},

                // yearly gross margins 

                { "data": "gm2020"},
                { "data": "gm2021"},
                { "data": "gm2022"},
                { "data": "gm2023"},
                { "data": "gm2024"},
                { "data": "gm2025"},
                { "data": "gm2026"},
                { "data": "gm2027"},
                { "data": "gm2028"},
                { "data": "gm2029"},
                { "data": "gm2030"},
                { "data": "gm2031"},
                { "data": "gm2032"},
                { "data": "gm2033"},
                { "data": "gm2034"},
                { "data": "gm2035"},
                { "data": "gm2036"},
                { "data": "gm2037"},
                { "data": "gm2038"},
                { "data": "gm2039"},
                { "data": "gm2040"},
                { "data": "gm2041"},
                { "data": "gm2042"},
                { "data": "gm2043"},
                { "data": "gm2044"},

                // weighted volume (volume * probability)
                { "data": "wVol2020"},
                { "data": "wVol2021"},
                { "data": "wVol2022"},
                { "data": "wVol2023"},
                { "data": "wVol2024"},
                { "data": "wVol2025"},
                { "data": "wVol2026"},
                { "data": "wVol2027"},
                { "data": "wVol2028"},
                { "data": "wVol2029"},
                { "data": "wVol2030"},
                { "data": "wVol2031"},
                { "data": "wVol2032"},
                { "data": "wVol2033"},
                { "data": "wVol2034"},
                { "data": "wVol2035"},
                { "data": "wVol2036"},
                { "data": "wVol2037"},
                { "data": "wVol2038"},
                { "data": "wVol2039"},
                { "data": "wVol2040"},
                { "data": "wVol2041"},
                { "data": "wVol2042"},
                { "data": "wVol2043"},
                { "data": "wVol2044"},


                // yearly revenue (weighted)

                { "data": "wRev2020"},
                { "data": "wRev2021"},
                { "data": "wRev2022"},
                { "data": "wRev2023"},
                { "data": "wRev2024"},
                { "data": "wRev2025"},
                { "data": "wRev2026"},
                { "data": "wRev2027"},
                { "data": "wRev2028"},
                { "data": "wRev2029"},
                { "data": "wRev2030"},
                { "data": "wRev2031"},
                { "data": "wRev2032"},
                { "data": "wRev2033"},
                { "data": "wRev2034"},
                { "data": "wRev2035"},
                { "data": "wRev2036"},
                { "data": "wRev2037"},
                { "data": "wRev2038"},
                { "data": "wRev2039"},
                { "data": "wRev2040"},
                { "data": "wRev2041"},
                { "data": "wRev2042"},
                { "data": "wRev2043"},
                { "data": "wRev2044"},


            
                  /*
              */
              // fiscal year based figures: yearly cost (vhk), vhk * volume (total vhk), gross mafgin in pct 


                // 



            ],

        // for search
        
        initComplete: function () {
          // Apply the search
          this.api()
              .columns()
              .every(function () {
                  var that = this;

                  $('input', this.footer()).on('keyup change clear', function () {
                      if (that.search() !== this.value) {
                          that.search(this.value).draw();
                      }
                  });
              });
        },



    });
});

</script>


<script>
  $.ajax({
      url: "{% url 'boupTableAllData'%}",
      method: 'GET',
      success: function (data) {
          console.log('our data',data);
      }
  });
</script>


{% endblock extra_javascript %}


