{% extends "base.html" %}
{% load static %}
{% block title %} Bottom Up {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />    
{% endblock %}
{% block contents %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                          
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="col-md-12">
                                                <div class="page-header-title">
                                                    <h5 class="m-b-10"><a href="/"><i class="feather icon-home"></i></a>  Bottom Up - Key Facts - CY Based </h5>
            

                                                    
                                                </div>
                                             
                                            </div>


                                        </div>
                                        <div class="card-block">
                          

                                          {% include "partials/navigation_boup.html" %}



                                          <br>

                                          <table id="boupTable" class="display nowrap" style="width:100%; overflow-x: auto;">

            
                                            <thead>
                                                <tr>
                                                  <!-- 
                                                  <th>idApp</th>
                                                  <th>applicationLine</th>
                                                  <th>productMarketer</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                                      -->
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                
                                                    <th>Reviewed?</th>
                                                    <th>Review Date</th>
                                                    <th>ID_APP</th>
                                                    <th>AL</th>
                                                    <th>PM</th>
                                                    <th>HFG</th>
                                                    <th>PPOS</th>
                                                    <th>SP Number</th>
                                
                                                    <th>Application Main</th>
                                                    <th>Application Detail</th>
                                                    <th>RFP</th>
                                                    <th>Sales Name</th>
                                                    <th>Price Source</th>
                                                    <th>Family Price Applicable?</th>
                                                    <th>FP details</th>
                                                    <th>Price Status</th>
                                
                                                    <th>Currency</th>
                                                    <th>FX rate</th>
                                                    <th>Comments</th>
                                                    <th>Region</th>
                                                    <th>Project Description</th>
                                
                                                    
                                
                                                    <th>Main Customer</th>
                                                    <th>End Customer</th>
                                                    <th>Distributor</th>
                                                    <th>Tier One</th>
                                                    <th>OEM</th>
                                                    <th>EMS</th>
                                                    <th>VPA Customer</th>
                                
                                
                                
                                                    <th>Dragon_ID</th>
                                                    <th>Sales contact</th>
                                                    <th>Status / Probability</th>
                                                    <th>Probability</th>
                                                    <th>SOP</th>
                                
                                
                                                    <th>PPOS in PGS+?</th>
                                                    <th>Modified by</th>
                                                    <th>Modification date</th>
                                                    <th>Creation date</th>
                                
                                                    <th>TIME_BottomUp</th>
                                                    <th>Basic Type</th>
                                                    <th>Package</th>
                                                    <th>Series</th>
                                                    <th>Gen</th>
                                                    <th>Series Long</th>
                                                    <th>Gen Detail</th>
                                
                                
                                
                                                    <th>GM_LifeTime</th>
                                                    <th>Rev_€_LifeTime</th>
                                                    <th>Vol_LifeTime</th>
                                                    <th>Weighted_Vol_LifeTime</th>
                                
                                
                                                  </tr>
                                            </thead>
                                
                                            <tfoot>
                                              <tr>
                                                <th></th>
                                                <th></th>
                                
                                                <th>Reviewed?</th>
                                                <th>Review Date</th>
                                                <th>ID_APP</th>
                                                <th>AL</th>
                                                <th>PM</th>
                                                <th>HFG</th>
                                                <th>PPOS</th>
                                                <th>SP Number</th>
                                
                                                <th>Application Main</th>
                                                <th>Application Detail</th>
                                                <th>RFP</th>
                                                <th>Sales Name</th>
                                                <th>Price Source</th>
                                                <th>Family Price Applicable?</th>
                                                <th>FP details</th>
                                                <th>Price Status</th>
                                
                                                <th>Currency</th>
                                                <th>FX rate</th>
                                                <th>Comments</th>
                                                <th>Region</th>
                                                <th>Project Description</th>
                                
                                                <th>Main Customer</th>
                                                <th>End Customer</th>
                                                <th>Distributor</th>
                                                <th>Tier One</th>
                                                <th>OEM</th>
                                                <th>EMS</th>
                                                <th>VPA Customer</th>
                                                <th>Dragon_ID</th>
                                                <th>Sales contact</th>
                                                <th>Status / Probability</th>
                                                <th>Probability</th>
                                                <th>SOP</th>
                                
                                
                                                <th>PPOS in PGS+?</th>
                                                <th>Modified by</th>
                                                <th>Modification date</th>
                                                <th>Creation date</th>
                                
                                                <th>TIME_BottomUp</th>
                                                <th>Basic Type</th>
                                                <th>Package</th>
                                                <th>Series</th>
                                                <th>Gen</th>
                                                <th>Series Long</th>
                                                <th>Gen Detail</th>
                                
                                                <th>GM_LifeTime</th>
                                                <th>Rev_€_LifeTime</th>
                                                <th>Vol_LifeTime</th>
                                                <th>Weighted_Vol_LifeTime</th>
                                
                                              </tr>
                                          </tfoot>
                                        </table>
                                
                                        <br>
                                
                                        <br>
                                        <div class="row" style="text-align: center;">
                                        <canvas id="myChart" width="800" height="600" style="    margin-left: auto; margin-right: auto;"></canvas>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock contents %} {% block extra_javascript %}

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<!---
<script src="{% static 'js/pages/datatables.init.js' %}"></script>  
-->

<!-- Chart JS -->
<script src="{% static 'libs/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/pages/chartjs.init.js' %}"></script> 


<script>

var totalVolumes = [] 
var totalVolumesWeighted = [] 
var totalRevenues = [] 
var totalRevenuesWeighted = [] 
var totalMargin = [] 
var totalMarginWeighted = [] 
var totalAsps = [] 
var totalAspsWeighted = [] 
var dataForTable = [] 
var years = [] 

/*
  $(document).ready(function() {

    $.ajax({
      url: "{% url 'boupTableSlimData'%}",
      method: 'GET',
      success: function (dataA) {
          console.log('our data',dataA);

          console.log("data coming", dataA)
      }
  });*/

  $(document).ready(function() {

// column based search
  $('#boupTable tfoot th').each(function () {
      var title = $(this).text();

      if (title != "") {
      $(this).html('<input type="text" placeholder="Search ' + title + '" />');
    }
  });


  var table = $('#boupTable').DataTable({


// export buttons
dom: 'Bflrtip',
  buttons: [
      'copy', 'csv', 'excel', 'pdf', 'print'
  ],

// general options

scrollY: '500px',
scrollCollapse: true,
paging: true,
keys: true,
scrollX: true,
responsive: false,

"ajax": {
    "processing": true,
    "url": "{% url 'boupTableSlimData' %}",
    "dataSrc": "dataForTable",
  },
  //"data": data,
  "columns": [
          /*
          { "data": "projectName"},
          { "data": "salesName"},
          { "data": "region"},
          */


          {
          targets: 0,
          data: "idApp",
          //defaultContent: '<a class="btn btn-dark" style:"color: #AB377A" href="patientsManage/{ "data": "idApp"}">Edit [, ].name</a>',
          render: function (data) {
            let string = '<a class="btn btn-dark" style:"color: #AB377A" href="/ifx/productMarketing/projectEdit/0/' + String(data) + '">Edit </a>';
            return string;
          },

          },

          {
          targets: 1,
          data: "idApp",

            render: function (data) {
              console.log("boupTableSlimData data", data)
              let string = '<a class="btn btn btn-danger" href="/ifx/productMarketing/deleteProject/' + String(data) + '">Delete </a>';
              return string;
            },
          },

          { "data": "projectReviewed"},
          { "data": "reviewDate"},

          { "data": "idApp"},

          { "data": "applicationLine"},
          { "data": "productMarketer"},
          { "data": "hfg"},
          { "data": "ppos"},
          { "data": "spNumber"},


          { "data": "applicationMain"},
          { "data": "applicationDetail"},

          { "data": "rfp"},

          { "data": "salesName"},
          { "data": "priceSource"},
          { "data": "familyPriceApplicable"},
          { "data": "familyPriceHelper"},
          { "data": "priceType"},


          { "data": "currency"},
          { "data": "fxRate"},



          { "data": "comments"},
          { "data": "region"},
          { "data": "projectName"},

          { "data": "mainCustomer"},
          { "data": "endCustomer"},
          { "data": "distributor"},
          { "data": "tierOne"},
          { "data": "oem"},
          { "data": "ems"},
          { "data": "vpaCustomer"},

          { "data": "dragonId"},
          { "data": "salesContact"},
          { "data": "statusProbability"},
          { "data": "Probability"},
          { "data": "sop"},




          { "data": "pposAvailablePgs"},
          { "data": "modifiedBy"},
          { "data": "modifiedDate"},
          { "data": "creationDate"},

          { "data": "timeBottomUp"},
          { "data": "basicType"},
          { "data": "package"},
          { "data": "series"},
          { "data": "gen"},
          { "data": "seriesLong"},
          { "data": "genDetail"},

          { "data": "gmLifeTime"},
          { "data": "revEurLifeTime"},
          { "data": "volLifeTime"},
          { "data": "volWeightedLifeTime"},


      ],

  // for search
  
  initComplete: function () {
    // Apply the search
    this.api()
        .columns()
        .every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change clear', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });
  },



});
});

  


table.on( 'xhr', function () {
    var json = table.ajax.json();
    totalVolumes = json.totalVolumes 
    totalVolumesWeighted = json.totalVolumesWeighted  
    totalRevenues = json.totalRevenues 
    totalRevenuesWeighted = json.totalRevenuesWeighted 
    totalMargin = json.totalMargin 
    totalMarginWeighted = json.totalMarginWeighted 
    totalAsps = json.totalAsps 
    totalAspsWeighted = json.totalAspsWeighted 
    years = json.years 

    console.log("updating ajax returned values", totalVolumes);

   // add new label and data point to chart's underlying data structures
   
      //myChart.data.labels.push(years);
      myChart.data.datasets[0].data = totalVolumes;
      /*
      myChart.data.datasets[1].data.push(totalAsps);
      myChart.data.datasets[2].data.push(totalMargin);
      */
      // re-render the chart
      myChart.update();
      

  } );

  
/*
$.ajax({
      url: "{% url 'boupTableSlimData'%}",
      method: 'GET',
      success: function (data) {
          console.log('our data',data);
      }
  });
  */

</script>



<script>
  const labels = [
  2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Revenue',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      responsive: false,
      maintainAspectRatio: true,

      layout: {
      padding: {                
        top: 20                
      }
    },
    legend: {
      display: true,
    },
      maintainAspectRatio: true,
      plugins: {
        title: {
          display: true,
          text: 'asdddd'
        }
      },
    }
  };

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
 


{% endblock extra_javascript %}


