{% extends 'layouts/base.html' %}
{% load render_table from django_tables2 %}
{% block title %} Onboarding {% endblock title %}
{% block contents %}{% load widget_tweaks %}
<!-- Header -->
<div class="header pb-8 pt-5d-flex align-items-center"
  style="min-height: 50px; background-image: url(/static/assets/img/theme/Physio-Stock-Image-1080x675.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <!-- <a href="#!" class="btn btn-info">knoepf ohne funktionalität</a>-->
        <!-- <h1 class="display-2 text-white">{{ notification }}</h1>-->
      </div>
    </div>
  </div>
</div>

<!-- Body -->
<div class="container-fluid mt--7">

  <!-- navigation communication-->
  <div class="card card-profile shadow">

    <div class="card-body pt-0 pt-md-4">

      <div class = "row">

        <div class = "col-8">

          <h4 class="display-4">Full Bottom Up - FY Based</h4>

        </div>
        <div class = "col-4 float-end">
          {% include "partials/navigation_boup.html" %}

        </div>

      </div>

    </div>
  </div>

  <!-- end navigation communication-->

  <div class="row justify-content-center">
    <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">

        <div class="card-body pt-0 pt-md-4">
          <!-- filter -->
          <div class="card-profile-stats justify-content-center">  <!-- it was d-flex-->
            <br>
         
            <!--
            <table id="testTable" class="display">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Country</th>
                      <th>City</th>
                      <th>Stadium</th>
                      <th>Capacity</th>
                      <th>Established on</th>
                      <th>Record created on</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>NAC Breda</td>
                      <td>NL</td>
                      <td>Breda</td>
                      <td>Rat Verlegh Stadion</td>
                      <td>19000</td>
                      <td>19-9-1912</td>
                      <td>28-02-2022 14:00:00</td>
                  
                  </tr>

                  <tr>
                      <td>Union Sint-Gillis</td>
                      <td>BE</td>
                      <td>Vorst</td>
                      <td>Joseph Marien Stadion</td>
                      <td>8081</td>
                      <td>01-11-1897</td>
                      <td>28-02-2022 13:30:00</td>
                  
                  </tr>

                  <tr>
                      <td>Go Ahead Eagles</td>
                      <td>NL</td>
                      <td>Deventer</td>
                      <td>De Adelaarshorst</td>
                      <td>10400</td>
                      <td>02-12-1902</td>
                      <td>27-11-2021 13:30:00</td>
                  
                  </tr>

              </tbody>
          </table>
          -->


         <!--<table id="boupTable" class="beheertable dezetabel"> --> 
          <table id="boupTable" class="display nowrap" style="width:100%; overflow-x: auto;">

            
            <thead>
                <tr>
                  <!-- 
                  <th>idApp</th>
                  <th>applicationLine</th>
                  <th>productMarketer</th>
                  -->

                  <th>Edit</th>
                  <th>Delete</th>
                    <th>ID_APP</th>
                    <th>AL</th>
                    <th>PM</th>
                    <th>HFG</th>
                    <th>PPOS</th>
                    <th>SP Number</th>

                    <th>Application Main</th>
                    <th>Application Detail</th>
                    <th>RFP</th>
                    <th>Sales Name</th>
                    <th>Price Source</th>
                    <th>Family Price Applicable?</th>
                    <th>FP details</th>
                    <th>Currency</th>
                    <th>FX rate</th>
                    <th>Comments</th>
                    <th>Region</th>
                    <th>Project Description</th>

                    



                    <th>Dragon_ID</th>
                    <th>Sales contact</th>
                    <th>Status / Probability</th>
                    <th>Probability</th>
                    <th>SOP</th>


                    <th>PPOS in PGS+?</th>
                    <th>Modified by</th>
                    <th>Modification date</th>
                    <th>TIME_BottomUp</th>
                    <th>Basic Type</th>
                    <th>Package</th>
                    <th>Series</th>
                    <th>Gen</th>
                    <th>Series Long</th>
                    <th>Gen Detail</th>



                    <th>GM_LifeTime</th>
                    <th>Rev_€_LifeTime</th>
                    <th>Vol_LifeTime</th>
                    <th>Weighted_Vol_LifeTime</th>

        

                    <th>FY20_pcs</th>
                    <th>FY21_pcs</th>
                    <th>FY22_pcs</th>
                    <th>FY23_pcs</th>
                    <th>FY24_pcs</th>
                    <th>FY25_pcs</th>
                    <th>FY26_pcs</th>
                    <th>FY27_pcs</th>
                    <th>FY28_pcs</th>

                    <th>FY29_pcs</th>
                    <th>FY30_pcs</th>
                    <th>FY31_pcs</th>
                    <th>FY32_pcs</th>
                    <th>FY33_pcs</th>
                    <th>FY34_pcs</th>
                    <th>FY35_pcs</th>
                    <th>FY36_pcs</th>
                    <th>FY37_pcs</th>
                    <th>FY38_pcs</th>
                    <th>FY39_pcs</th>
                    <th>FY40_pcs</th>
                    <th>FY41_pcs</th>
                    <th>FY42_pcs</th>
                    <th>FY43_pcs</th>
                    <th>FY44_pcs</th>


                    <th>CY20_Cust_pcs</th>
                    <th>CY21_Cust_pcs</th>
                    <th>CY22_Cust_pcs</th>
                    <th>CY23_Cust_pcs</th>
                    <th>CY24_Cust_pcs</th>
                    <th>CY25_Cust_pcs</th>
                    <th>CY26_Cust_pcs</th>
                    <th>CY27_Cust_pcs</th>
                    <th>CY28_Cust_pcs</th>

                    <th>CY29_Cust_pcs</th>
                    <th>CY30_Cust_pcs</th>
                    <th>CY31_Cust_pcs</th>
                    <th>CY32_Cust_pcs</th>
                    <th>CY33_Cust_pcs</th>
                    <th>CY34_Cust_pcs</th>
                    <th>CY35_Cust_pcs</th>
                    <th>CY36_Cust_pcs</th>
                    <th>CY37_Cust_pcs</th>
                    <th>CY38_Cust_pcs</th>
                    <th>CY39_Cust_pcs</th>
                    <th>CY40_Cust_pcs</th>
                    <th>CY41_Cust_pcs</th>
                    <th>CY42_Cust_pcs</th>
                    <th>CY43_Cust_pcs</th>
                    <th>CY44_Cust_pcs</th>

                    <th>CY20_price</th>
                    <th>CY21_price</th>
                    <th>CY22_price</th>
                    <th>CY23_price</th>
                    <th>CY24_price</th>
                    <th>CY25_price</th>
                    <th>CY26_price</th>
                    <th>CY27_price</th>
                    <th>CY28_price</th>
                    <th>CY29_price</th>
                    <th>CY30_price</th>
                    <th>CY31_price</th>
                    <th>CY32_price</th>
                    <th>CY33_price</th>
                    <th>CY34_price</th>
                    <th>CY35_price</th>
                    <th>CY36_price</th>
                    <th>CY37_price</th>
                    <th>CY38_price</th>
                    <th>CY39_price</th>
                    <th>CY40_price</th>
                    <th>CY41_price</th>
                    <th>CY42_price</th>
                    <th>CY43_price</th>
                    <th>CY44_price</th>
          

                    <th>CY20_VHK_€</th>
                    <th>CY21_VHK_€</th>
                    <th>CY22_VHK_€</th>
                    <th>CY23_VHK_€</th>
                    <th>CY24_VHK_€</th>
                    <th>CY25_VHK_€</th>
                    <th>CY26_VHK_€</th>
                    <th>CY27_VHK_€</th>
                    <th>CY28_VHK_€</th>

                    <th>CY29_VHK_€</th>
                    <th>CY30_VHK_€</th>
                    <th>CY31_VHK_€</th>
                    <th>CY32_VHK_€</th>
                    <th>CY33_VHK_€</th>
                    <th>CY34_VHK_€</th>
                    <th>CY35_VHK_€</th>
                    <th>CY36_VHK_€</th>
                    <th>CY37_VHK_€</th>
                    <th>CY38_VHK_€</th>
                    <th>CY39_VHK_€</th>
                    <th>CY40_VHK_€</th>
                    <th>CY41_VHK_€</th>
                    <th>CY42_VHK_€</th>
                    <th>CY43_VHK_€</th>
                    <th>CY44_VHK_€</th>


                    <th>FY20_GM</th>
                    <th>FY21_GM</th>
                    <th>FY22_GM</th>
                    <th>FY23_GM</th>
                    <th>FY24_GM</th>
                    <th>FY25_GM</th>
                    <th>FY26_GM</th>
                    <th>FY27_GM</th>
                    <th>FY28_GM</th>

                    <th>FY29_GM</th>
                    <th>FY30_GM</th>
                    <th>FY31_GM</th>
                    <th>FY32_GM</th>
                    <th>FY33_GM</th>
                    <th>FY34_GM</th>
                    <th>FY35_GM</th>
                    <th>FY36_GM</th>
                    <th>FY37_GM</th>
                    <th>FY38_GM</th>
                    <th>FY39_GM</th>
                    <th>FY40_GM</th>
                    <th>FY41_GM</th>
                    <th>FY42_GM</th>
                    <th>FY43_GM</th>
                    <th>FY44_GM</th>


                    <th>FY20_vol_w</th>
                    <th>FY21_vol_w</th>
                    <th>FY22_vol_w</th>
                    <th>FY23_vol_w</th>
                    <th>FY24_vol_w</th>
                    <th>FY25_vol_w</th>
                    <th>FY26_vol_w</th>
                    <th>FY27_vol_w</th>
                    <th>FY28_vol_w</th>
					
                    <th>FY29_vol_w</th>
                    <th>FY30_vol_w</th>
                    <th>FY31_vol_w</th>
                    <th>FY32_vol_w</th>
                    <th>FY33_vol_w</th>
                    <th>FY34_vol_w</th>
                    <th>FY35_vol_w</th>
                    <th>FY36_vol_w</th>
                    <th>FY37_vol_w</th>
                    <th>FY38_vol_w</th>
                    <th>FY39_vol_w</th>
                    <th>FY40_vol_w</th>
                    <th>FY41_vol_w</th>
                    <th>FY42_vol_w</th>
                    <th>FY43_vol_w</th>
                    <th>FY44_vol_w</th>
						
                    <th>FY20_rev_€</th>
                    <th>FY21_rev_€</th>
                    <th>FY22_rev_€</th>
                    <th>FY23_rev_€</th>
                    <th>FY24_rev_€</th>
                    <th>FY25_rev_€</th>
                    <th>FY26_rev_€</th>
                    <th>FY27_rev_€</th>
                    <th>FY28_rev_€</th>
						
                    <th>FY29_rev_€</th>
                    <th>FY30_rev_€</th>
                    <th>FY31_rev_€</th>
                    <th>FY32_rev_€</th>
                    <th>FY33_rev_€</th>
                    <th>FY34_rev_€</th>
                    <th>FY35_rev_€</th>
                    <th>FY36_rev_€</th>
                    <th>FY37_rev_€</th>
                    <th>FY38_rev_€</th>
                    <th>FY39_rev_€</th>
                    <th>FY40_rev_€</th>
                    <th>FY41_rev_€</th>
                    <th>FY42_rev_€</th>
                    <th>FY43_rev_€</th>
                    <th>FY44_rev_€</th>
          <!--- 
    -->
  
                  </tr>
            </thead>

            <tfoot>
              <tr>
                <th></th>
                <th></th>
                  <th>ID</th>
                  <th>AL</th>
                  <th>PM</th>
                  <th>HFG</th>
                  <th>PPOS</th>
                  <th>SP Number</th>

                  <th>Application Main</th>
                  <th>Application Detail</th>
                  <th>RFP</th>
                  <th>Sales Name</th>
                  <th>Price Source</th>
                  <th>Family Price Applicable?</th>
                  <th>FP details</th>
                  <th>Currency</th>
                  <th>FX rate</th>
                  <th>Comments</th>
                  <th>Region</th>
                  <th>Project Description</th>

                  



                  <th>Dragon_ID</th>
                  <th>Sales contact</th>
                  <th>Status / Probability</th>
                  <th>Probability</th>
                  <th>SOP</th>


                  <th>PPOS in PGS+?</th>
                  <th>Modified by</th>
                  <th>Modification date</th>
                  <th>TIME_BottomUp</th>
                  <th>Basic Type</th>
                  <th>Package</th>
                  <th>Series</th>
                  <th>Gen</th>
                  <th>Series Long</th>
                  <th>Gen Detail</th>



                  <th>GM_LifeTime</th>
                  <th>Rev_€_LifeTime</th>
                  <th>Vol_LifeTime</th>
                  <th>Weighted_Vol_LifeTime</th>

      

                  <th>FY20_pcs</th>
                  <th>FY21_pcs</th>
                  <th>FY22_pcs</th>
                  <th>FY23_pcs</th>
                  <th>FY24_pcs</th>
                  <th>FY25_pcs</th>
                  <th>FY26_pcs</th>
                  <th>FY27_pcs</th>
                  <th>FY28_pcs</th>

                  <th>FY29_pcs</th>
                  <th>FY30_pcs</th>
                  <th>FY31_pcs</th>
                  <th>FY32_pcs</th>
                  <th>FY33_pcs</th>
                  <th>FY34_pcs</th>
                  <th>FY35_pcs</th>
                  <th>FY36_pcs</th>
                  <th>FY37_pcs</th>
                  <th>FY38_pcs</th>
                  <th>FY39_pcs</th>
                  <th>FY40_pcs</th>
                  <th>FY41_pcs</th>
                  <th>FY42_pcs</th>
                  <th>FY43_pcs</th>
                  <th>FY44_pcs</th>


                  <th>CY20_Cust_pcs</th>
                  <th>CY21_Cust_pcs</th>
                  <th>CY22_Cust_pcs</th>
                  <th>CY23_Cust_pcs</th>
                  <th>CY24_Cust_pcs</th>
                  <th>CY25_Cust_pcs</th>
                  <th>CY26_Cust_pcs</th>
                  <th>CY27_Cust_pcs</th>
                  <th>CY28_Cust_pcs</th>

                  <th>CY29_Cust_pcs</th>
                  <th>CY30_Cust_pcs</th>
                  <th>CY31_Cust_pcs</th>
                  <th>CY32_Cust_pcs</th>
                  <th>CY33_Cust_pcs</th>
                  <th>CY34_Cust_pcs</th>
                  <th>CY35_Cust_pcs</th>
                  <th>CY36_Cust_pcs</th>
                  <th>CY37_Cust_pcs</th>
                  <th>CY38_Cust_pcs</th>
                  <th>CY39_Cust_pcs</th>
                  <th>CY40_Cust_pcs</th>
                  <th>CY41_Cust_pcs</th>
                  <th>CY42_Cust_pcs</th>
                  <th>CY43_Cust_pcs</th>
                  <th>CY44_Cust_pcs</th>

                  <th>CY20_price</th>
                  <th>CY21_price</th>
                  <th>CY22_price</th>
                  <th>CY23_price</th>
                  <th>CY24_price</th>
                  <th>CY25_price</th>
                  <th>CY26_price</th>
                  <th>CY27_price</th>
                  <th>CY28_price</th>
                  <th>CY29_price</th>
                  <th>CY30_price</th>
                  <th>CY31_price</th>
                  <th>CY32_price</th>
                  <th>CY33_price</th>
                  <th>CY34_price</th>
                  <th>CY35_price</th>
                  <th>CY36_price</th>
                  <th>CY37_price</th>
                  <th>CY38_price</th>
                  <th>CY39_price</th>
                  <th>CY40_price</th>
                  <th>CY41_price</th>
                  <th>CY42_price</th>
                  <th>CY43_price</th>
                  <th>CY44_price</th>
        

                  <th>CY20_VHK_€</th>
                  <th>CY21_VHK_€</th>
                  <th>CY22_VHK_€</th>
                  <th>CY23_VHK_€</th>
                  <th>CY24_VHK_€</th>
                  <th>CY25_VHK_€</th>
                  <th>CY26_VHK_€</th>
                  <th>CY27_VHK_€</th>
                  <th>CY28_VHK_€</th>

                  <th>CY29_VHK_€</th>
                  <th>CY30_VHK_€</th>
                  <th>CY31_VHK_€</th>
                  <th>CY32_VHK_€</th>
                  <th>CY33_VHK_€</th>
                  <th>CY34_VHK_€</th>
                  <th>CY35_VHK_€</th>
                  <th>CY36_VHK_€</th>
                  <th>CY37_VHK_€</th>
                  <th>CY38_VHK_€</th>
                  <th>CY39_VHK_€</th>
                  <th>CY40_VHK_€</th>
                  <th>CY41_VHK_€</th>
                  <th>CY42_VHK_€</th>
                  <th>CY43_VHK_€</th>
                  <th>CY44_VHK_€</th>


                  <th>FY20_vol_w</th>
                  <th>FY21_vol_w</th>
                  <th>FY22_vol_w</th>
                  <th>FY23_vol_w</th>
                  <th>FY24_vol_w</th>
                  <th>FY25_vol_w</th>
                  <th>FY26_vol_w</th>
                  <th>FY27_vol_w</th>
                  <th>FY28_vol_w</th>
        
                  <th>FY29_vol_w</th>
                  <th>FY30_vol_w</th>
                  <th>FY31_vol_w</th>
                  <th>FY32_vol_w</th>
                  <th>FY33_vol_w</th>
                  <th>FY34_vol_w</th>
                  <th>FY35_vol_w</th>
                  <th>FY36_vol_w</th>
                  <th>FY37_vol_w</th>
                  <th>FY38_vol_w</th>
                  <th>FY39_vol_w</th>
                  <th>FY40_vol_w</th>
                  <th>FY41_vol_w</th>
                  <th>FY42_vol_w</th>
                  <th>FY43_vol_w</th>
                  <th>FY44_vol_w</th>
          
                  <th>FY20_rev_€</th>
                  <th>FY21_rev_€</th>
                  <th>FY22_rev_€</th>
                  <th>FY23_rev_€</th>
                  <th>FY24_rev_€</th>
                  <th>FY25_rev_€</th>
                  <th>FY26_rev_€</th>
                  <th>FY27_rev_€</th>
                  <th>FY28_rev_€</th>
          
                  <th>FY29_rev_€</th>
                  <th>FY30_rev_€</th>
                  <th>FY31_rev_€</th>
                  <th>FY32_rev_€</th>
                  <th>FY33_rev_€</th>
                  <th>FY34_rev_€</th>
                  <th>FY35_rev_€</th>
                  <th>FY36_rev_€</th>
                  <th>FY37_rev_€</th>
                  <th>FY38_rev_€</th>
                  <th>FY39_rev_€</th>
                  <th>FY40_rev_€</th>
                  <th>FY41_rev_€</th>
                  <th>FY42_rev_€</th>
                  <th>FY43_rev_€</th>
                  <th>FY44_rev_€</th>
<!--
                  <th>FY20_pcs</th>
                  <th>FY21_pcs</th>
                  <th>FY22_pcs</th>
                  <th>FY23_pcs</th>
                  <th>FY24_pcs</th>
                  <th>FY25_pcs</th>
                  <th>FY26_pcs</th>
                  <th>FY27_pcs</th>
                  <th>FY28_pcs</th>

                  <th>FY29_pcs</th>
                  <th>FY30_pcs</th>
                  <th>FY31_pcs</th>
                  <th>FY32_pcs</th>
                  <th>FY33_pcs</th>
                  <th>FY34_pcs</th>
                  <th>FY35_pcs</th>
                  <th>FY36_pcs</th>
                  <th>FY37_pcs</th>
                  <th>FY38_pcs</th>
                  <th>FY39_pcs</th>
                  <th>FY40_pcs</th>
                  <th>FY41_pcs</th>
                  <th>FY42_pcs</th>
                  <th>FY43_pcs</th>
                  <th>FY44_pcs</th>
				  
				  
                  <th>FY20_GM</th>
                  <th>FY21_GM</th>
                  <th>FY22_GM</th>
                  <th>FY23_GM</th>
                  <th>FY24_GM</th>
                  <th>FY25_GM</th>
                  <th>FY26_GM</th>
                  <th>FY27_GM</th>
                  <th>FY28_GM</th>

                  <th>FY29_GM</th>
                  <th>FY30_GM</th>
                  <th>FY31_GM</th>
                  <th>FY32_GM</th>
                  <th>FY33_GM</th>
                  <th>FY34_GM</th>
                  <th>FY35_GM</th>
                  <th>FY36_GM</th>
                  <th>FY37_GM</th>
                  <th>FY38_GM</th>
                  <th>FY39_GM</th>
                  <th>FY40_GM</th>
                  <th>FY41_GM</th>
                  <th>FY42_GM</th>
                  <th>FY43_GM</th>
                  <th>FY44_GM</th>


                  <th>FY20_vol_w</th>
                  <th>FY21_vol_w</th>
                  <th>FY22_vol_w</th>
                  <th>FY23_vol_w</th>
                  <th>FY24_vol_w</th>
                  <th>FY25_vol_w</th>
                  <th>FY26_vol_w</th>
                  <th>FY27_vol_w</th>
                  <th>FY28_vol_w</th>
                  
                  <th>FY29_vol_w</th>
                  <th>FY30_vol_w</th>
                  <th>FY31_vol_w</th>
                  <th>FY32_vol_w</th>
                  <th>FY33_vol_w</th>
                  <th>FY34_vol_w</th>
                  <th>FY35_vol_w</th>
                  <th>FY36_vol_w</th>
                  <th>FY37_vol_w</th>
                  <th>FY38_vol_w</th>
                  <th>FY39_vol_w</th>
                  <th>FY40_vol_w</th>
                  <th>FY41_vol_w</th>
                  <th>FY42_vol_w</th>
                  <th>FY43_vol_w</th>
                  <th>FY44_vol_w</th>


                  <th>FY20_rev_€</th>
                  <th>FY21_rev_€</th>
                  <th>FY22_rev_€</th>
                  <th>FY23_rev_€</th>
                  <th>FY24_rev_€</th>
                  <th>FY25_rev_€</th>
                  <th>FY26_rev_€</th>
                  <th>FY27_rev_€</th>
                  <th>FY28_rev_€</th>

                  <th>FY29_rev_€</th>
                  <th>FY30_rev_€</th>
                  <th>FY31_rev_€</th>
                  <th>FY32_rev_€</th>
                  <th>FY33_rev_€</th>
                  <th>FY34_rev_€</th>
                  <th>FY35_rev_€</th>
                  <th>FY36_rev_€</th>
                  <th>FY37_rev_€</th>
                  <th>FY38_rev_€</th>
                  <th>FY39_rev_€</th>
                  <th>FY40_rev_€</th>
                  <th>FY41_rev_€</th>
                  <th>FY42_rev_€</th>
                  <th>FY43_rev_€</th>
                  <th>FY44_rev_€</th>
-->

              </tr>
          </tfoot>
        </table>
            
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>


</div>



{% include "includes/footer.html" %}

</div>

{% endblock contents %}
<!-- Specific JS goes HERE -->
{% block extra_javascript %}


<script>
  $(document).ready(function() {

    // column based search
      $('#boupTable tfoot th').each(function () {
          var title = $(this).text();

          if (title != "") {
          $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        }
      });


      // the data table it self
    var table = $('#boupTable').DataTable({
        // export buttons
        dom: 'Bflrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],

      scrollY: '500px',
      scrollCollapse: true,
      paging: true,
      keys: true,
      scrollX: true,
      //responsive: true,

       "ajax": {
          "processing": true,
          "url": "{% url 'boupTableAllData' %}",
          "dataSrc": "",
        },
        "columns": [
                /*
                { "data": "projectName"},
                { "data": "salesName"},
                { "data": "region"},

                
                */

                {
                targets: 0,
                data: "idApp",
                //defaultContent: '<a class="btn btn-dark" style:"color: #AB377A" href="patientsManage/{ "data": "idApp"}">Edit [, ].name</a>',
                render: function (data) {
                  let string = '<a class="btn btn-dark" style:"color: #AB377A" href="/productMarketing/projectEdit/0/' + String(data) + '">Edit </a>';
                  return string;
                  },

                },

                {
                targets: 1,
                data: "idApp",

                  render: function (data) {
                    console.log("data", data)
                    let string = '<a class="btn btn btn-danger" href="/productMarketing/deleteProject/' + String(data) + '">Delete </a>';
                    return string;
                  },
                },
                { "data": "idApp"},

                { "data": "applicationLine"},
                { "data": "productMarketer"},
                { "data": "hfg"},
                { "data": "ppos"},
                { "data": "spNumber"},


                { "data": "applicationMain"},
                { "data": "applicationDetail"},

                { "data": "rfp"},

                { "data": "salesName"},
                { "data": "priceSource"},
                { "data": "familyPriceApplicable"},
                { "data": "familyPriceHelper"},

                { "data": "currency"},
                { "data": "fxRate"},



                { "data": "comments"},
                { "data": "region"},
                { "data": "projectName"},

                { "data": "dragonId"},
                { "data": "salesContact"},
                { "data": "statusProbability"},
                { "data": "Probability"},
                { "data": "sop"},




                { "data": "pposAvailablePgs"},
                { "data": "modifiedBy"},
                { "data": "modifiedDate"},
                { "data": "timeBottomUp"},
                { "data": "basicType"},
                { "data": "package"},
                { "data": "series"},
                { "data": "gen"},
                { "data": "seriesLong"},
                { "data": "genDetail"},

                { "data": "gmLifeTime"},
                { "data": "revEurLifeTime"},
                { "data": "volLifeTime"},
                { "data": "volWeightedLifeTime"},

                


                // financial KPIs


              // marketer estimated volume

                { "data": "m_vol2020"},
                { "data": "m_vol2021"},
                { "data": "m_vol2022"},
                { "data": "m_vol2023"},
                { "data": "m_vol2024"},
                { "data": "m_vol2025"},
                { "data": "m_vol2026"},
                { "data": "m_vol2027"},
                { "data": "m_vol2028"},
                { "data": "m_vol2029"},
                { "data": "m_vol2030"},
                { "data": "m_vol2031"},
                { "data": "m_vol2032"},
                { "data": "m_vol2033"},
                { "data": "m_vol2034"},
                { "data": "m_vol2035"},
                { "data": "m_vol2036"},
                { "data": "m_vol2037"},
                { "data": "m_vol2038"},
                { "data": "m_vol2039"},
                { "data": "m_vol2040"},
                { "data": "m_vol2041"},
                { "data": "m_vol2042"},
                { "data": "m_vol2043"},
                { "data": "m_vol2044"},

                // customer estimated volume

                { "data": "volCustomer2020"},
                { "data": "volCustomer2021"},
                { "data": "volCustomer2022"},
                { "data": "volCustomer2023"},
                { "data": "volCustomer2024"},
                { "data": "volCustomer2025"},
                { "data": "volCustomer2026"},
                { "data": "volCustomer2027"},
                { "data": "volCustomer2028"},
                { "data": "volCustomer2029"},
                { "data": "volCustomer2030"},
                { "data": "volCustomer2031"},
                { "data": "volCustomer2032"},
                { "data": "volCustomer2033"},
                { "data": "volCustomer2034"},
                { "data": "volCustomer2035"},
                { "data": "volCustomer2036"},
                { "data": "volCustomer2037"},
                { "data": "volCustomer2038"},
                { "data": "volCustomer2039"},
                { "data": "volCustomer2040"},
                { "data": "volCustomer2041"},
                { "data": "volCustomer2042"},
                { "data": "volCustomer2043"},
                { "data": "volCustomer2044"},

                // marketer estimated price
                { "data": "price2020"},
                { "data": "price2021"},
                { "data": "price2022"},
                { "data": "price2023"},
                { "data": "price2024"},
                { "data": "price2025"},
                { "data": "price2026"},
                { "data": "price2027"},
                { "data": "price2028"},
                { "data": "price2029"},
                { "data": "price2030"},
                { "data": "price2031"},
                { "data": "price2032"},
                { "data": "price2033"},
                { "data": "price2034"},
                { "data": "price2035"},
                { "data": "price2036"},
                { "data": "price2037"},
                { "data": "price2038"},
                { "data": "price2039"},
                { "data": "price2040"},
                { "data": "price2041"},
                { "data": "price2042"},
                { "data": "price2043"},
                { "data": "price2044"},

                // vhks

                { "data": "vhk2020"},
                { "data": "vhk2021"},
                { "data": "vhk2022"},
                { "data": "vhk2023"},
                { "data": "vhk2024"},
                { "data": "vhk2025"},
                { "data": "vhk2026"},
                { "data": "vhk2027"},
                { "data": "vhk2028"},
                { "data": "vhk2029"},
                { "data": "vhk2030"},
                { "data": "vhk2031"},
                { "data": "vhk2032"},
                { "data": "vhk2033"},
                { "data": "vhk2034"},
                { "data": "vhk2035"},
                { "data": "vhk2036"},
                { "data": "vhk2037"},
                { "data": "vhk2038"},
                { "data": "vhk2039"},
                { "data": "vhk2040"},
                { "data": "vhk2041"},
                { "data": "vhk2042"},
                { "data": "vhk2043"},
                { "data": "vhk2044"},

                // yearly gross margins 

                { "data": "m_gm2020"},
                { "data": "m_gm2021"},
                { "data": "m_gm2022"},
                { "data": "m_gm2023"},
                { "data": "m_gm2024"},
                { "data": "m_gm2025"},
                { "data": "m_gm2026"},
                { "data": "m_gm2027"},
                { "data": "m_gm2028"},
                { "data": "m_gm2029"},
                { "data": "m_gm2030"},
                { "data": "m_gm2031"},
                { "data": "m_gm2032"},
                { "data": "m_gm2033"},
                { "data": "m_gm2034"},
                { "data": "m_gm2035"},
                { "data": "m_gm2036"},
                { "data": "m_gm2037"},
                { "data": "m_gm2038"},
                { "data": "m_gm2039"},
                { "data": "m_gm2040"},
                { "data": "m_gm2041"},
                { "data": "m_gm2042"},
                { "data": "m_gm2043"},
                { "data": "m_gm2044"},

                // weighted volume (volume * probability)
                { "data": "m_wVol2020"},
                { "data": "m_wVol2021"},
                { "data": "m_wVol2022"},
                { "data": "m_wVol2023"},
                { "data": "m_wVol2024"},
                { "data": "m_wVol2025"},
                { "data": "m_wVol2026"},
                { "data": "m_wVol2027"},
                { "data": "m_wVol2028"},
                { "data": "m_wVol2029"},
                { "data": "m_wVol2030"},
                { "data": "m_wVol2031"},
                { "data": "m_wVol2032"},
                { "data": "m_wVol2033"},
                { "data": "m_wVol2034"},
                { "data": "m_wVol2035"},
                { "data": "m_wVol2036"},
                { "data": "m_wVol2037"},
                { "data": "m_wVol2038"},
                { "data": "m_wVol2039"},
                { "data": "m_wVol2040"},
                { "data": "m_wVol2041"},
                { "data": "m_wVol2042"},
                { "data": "m_wVol2043"},
                { "data": "m_wVol2044"},


                // yearly revenue (weighted)

                { "data": "m_wRev2020"},
                { "data": "m_wRev2021"},
                { "data": "m_wRev2022"},
                { "data": "m_wRev2023"},
                { "data": "m_wRev2024"},
                { "data": "m_wRev2025"},
                { "data": "m_wRev2026"},
                { "data": "m_wRev2027"},
                { "data": "m_wRev2028"},
                { "data": "m_wRev2029"},
                { "data": "m_wRev2030"},
                { "data": "m_wRev2031"},
                { "data": "m_wRev2032"},
                { "data": "m_wRev2033"},
                { "data": "m_wRev2034"},
                { "data": "m_wRev2035"},
                { "data": "m_wRev2036"},
                { "data": "m_wRev2037"},
                { "data": "m_wRev2038"},
                { "data": "m_wRev2039"},
                { "data": "m_wRev2040"},
                { "data": "m_wRev2041"},
                { "data": "m_wRev2042"},
                { "data": "m_wRev2043"},
                { "data": "m_wRev2044"},


            
                  /*
              */
              // fiscal year based figures: yearly cost (vhk), vhk * volume (total vhk), gross mafgin in pct 


                // 



            ],

        // for search
        
        initComplete: function () {
          // Apply the search
          this.api()
              .columns()
              .every(function () {
                  var that = this;

                  $('input', this.footer()).on('keyup change clear', function () {
                      if (that.search() !== this.value) {
                          that.search(this.value).draw();
                      }
                  });
              });
        },



    });
});

</script>


<script>
  $.ajax({
      url: "{% url 'boupTableAllData'%}",
      method: 'GET',
      success: function (data) {
          console.log('our data',data);
      }
  });
</script>


{% endblock extra_javascript %}


