{% extends 'layouts/base.html' %}
{% load render_table from django_tables2 %}
{% block title %} Onboarding {% endblock title %}
{% block contents %}{% load widget_tweaks %}


<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 200px; background-image: url(/static/assets/img/theme/Physio-Stock-Image-1080x675.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-4 text-white">BoUp KPI - Project</h1>
        <!-- <a href="#!" class="btn btn-info">knoepf ohne funktionalität</a>-->
         <h1 class="display-2 text-white">{{ notification }}</h1>
      </div>
    </div>
  </div>
</div>

<!-- Body -->


<div class="container-fluid mt--7">
  <div class="card card-profile shadow">
    <div class="card-body pt-0 pt-md-4">

      <!-- onboarding-->
      <!-- slider beginn -->

      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
        <div>

          <div class="row">

            <div class="col-xl order-xl-2 mb-5 mb-xl-0">

              <div class="card-body pt-0 pt-md-4">

                <div class="row">
                  <div class="col">

                    <form method="post">
                      {% csrf_token %}
                      <div class="row justify-content-center">
                        <div>
                       
                      <div class="form-row">
                        <label for="productSelectionForm2.prodFam">ProjectName</label>
                      </div>

                      <div class="form-row">
                        <input type="text" name="projectName" maxlength="300" class="form-control" id="projectName">
                      </div>

                      {% if ProjectNameError %}
                      <div class="alert alert-danger">
                      <strong>Please enter a valid sales name, either through dropdown or by copying and pasting a valid name.</strong>
                      </div>
                      {% endif %}

                      <div class="form-row">
                        <label for="count">Project Name</label>
                      </div>
                        <div class="form-row">
                              <option value="{{ projectName }}">{{ projectName }}</option>
                        </div>

                      <div class="form-row">
                        <label for="count">Amount of projects under this name</label>
                      </div>
                        <div class="form-row">
                              <option value="{{ count }}">{{ count }}</option>
                        </div>

                        <div class="form-row">
                          <label for="count">Region of the project</label>
                        </div>
                          <div class="form-row">
                                <option value="{{ region }}">{{ region }}</option>
                          </div>

                        <img src="data:image/jpeg;base64,{{ revenueMarginPlotBase64 }}" alt="Revenue and Gross Margin">
                        <img src="data:image/jpeg;base64,{{ volumePricePlotBase64 }}" alt="Volume and Prices">
                        <img src="data:image/jpeg;base64,{{ SliderPlotBase64 }}" alt="Customer Volume and Prices">
                        
                      </div>
                    </form>
                    <br>
                    <!--  <input type="submit" value="Speichern" class="btn btn-info">-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>

<div class="card card-profile shadow">

</div>


</div>

</div>

{% include "includes/footer.html" %}

</div>

{% endblock contents %}
<!-- Specific JS goes HERE -->
{% block extra_javascript %}
<script>


  // When the user scrolls the page, execute myFunction
  window.onscroll = function () { myFunction() };

  function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.height = scrolled + "%";
  }
</script>

{% endblock extra_javascript %}