{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block extra_css %}
<style>
  .baselines div{
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
</style>
{% endblock extra_css %}

{% block contents %}

<div class="card-body">
  <h3 class="h3">Snapshot View</h3>
  <div class="baselines">
    <button class="btn btn-default"><a href="../snapshotCompare"> Compare Snapshot</a></button>
    <div>ID: <div>{{data.id}}</div></div>
    <div>Date: <div>{{data.date}}</div></div>
    <div>SnapshotName: <div>{{data.snapshotName}}</div></div>
    <div>FileName: <div>{{data.fileName}}</div></div>
    <div>Tag: <div>{{data.tag}}</div></div>
    <div>User: <div>{{data.user}}</div></div>
  </div>
</div>

{% endblock contents %}

<!-- Specific Page JS goes HERE  -->
{% block extra_javascript %}

<script>

</script>


{% endblock extra_javascript %}

