{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}


{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block extra_css %}
<style>
  .mt-30{
    margin-top: 30px !important;
  }
  .card{
    box-shadow: none !important;
  }
  .color-pink{
    background-color: #AB377A !important;
    color: white;
  }
  .new_label{
    border: 1px solid;
    border-radius: 30px;
    width: 140px;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .save-baseline{
    width: 174px !important;
    margin-top: 30px !important;
    border-radius: 30px !important;
    background-color: #AB377A !important;
    border: none !important;
    font-size: 18px !important;
  }
  .center {
    text-align: center !important;
  }
  .bx-info-circle{
    background-color: #5EA290;
    color: white;
    border-radius: 50%;
    margin-left: 23px;
  }
  label{
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  .tablinks{
    color: #AB377A;
    font-weight: bold !important;
    padding: 12px 30px;
    font-size: 15px !important;
    border-bottom: 5px solid;
    cursor: pointer;
  }
  .border-0{
    border: none !important;
  }
  .accordion-header{
    text-align: center;
  }
  .tab-container{
    min-height: 500px;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 6px solid #AB377A;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 6px solid #edd2e2;
    width: 220px;
  }
  .tab {
    overflow: hidden;
    padding: 0px 10px;
  }
  .big-text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 60px !important;
    line-height: 75px;
    text-align: center;
    color: rgba(30, 30, 30, 0.1);
    margin-right: 35px;
    position: relative;
    top: 10px;
  }
</style>
{% endblock extra_css %}

{% block contents %}

  <div class="card-body">
    <h3 class="h3">Compare Baselines</h3>
    <div class="col-12">
      <div class="tab">

        {% if isInspect %}
        <button class="tablinks" data-tab="baselines" onclick="openTab('baselines')">BASELINE SELECTION</button>
        <button class="tablinks" data-tab="inspect" id="defaultOpen" onclick="openTab('inspect')">INSPECT</button>
        {% else %}
        <button class="tablinks" data-tab="baselines" id="defaultOpen" onclick="openTab('baselines')">BASELINE SELECTION</button>
        <button class="tablinks" data-tab="inspect" >INSPECT</button>
        {% endif %}
      </div>
      <div class="tab-container">

        <div id="baselines" class="tabcontent">
          <form method="POST" action="snapshotCompare" id="snapshotCompare">
            {% csrf_token %}
            <div class="baselines">
              <div class="row mt-30">
                <h2><label class="big-text">1</label> Baseline 1<i class="bx bx-info-circle" aria-hidden="true"></i></h2>
                <hr>
              </div>
              <div class="row mt-30">
                <label>Select a baseline</label>
                <div class="col-4">
                  <select class="form-control" name="baseline1" id="baseline1" onchange="handleSubmit()">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="row mt-30">
                <h2><label class="big-text">2</label> Baseline 2 <i class="bx bx-info-circle" aria-hidden="true"></i></h2>
                <hr>
              </div>
              <div class="row mt-30">
                <label>Select a baseline</label>
                <div class="col-4">
                  <select class="form-control" name="baseline2" id="baseline2" onchange="handleSubmit()">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="mt-30 center">
                <button class="btn btn-secondary save-baseline" type="submit" id="compare_submit" disabled>COMPARE</button>
              </div>
            </div>
          </form>
        </div>
        <div id="inspect" class="tabcontent">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <canvas id="revenue" height="200"></canvas>
            </div>
            <div class="col-md-6 col-sm-12">
              <canvas id="profit" height="200"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


{% endblock contents %}
<!-- Specific Page JS goes HERE  -->
{% block extra_javascript %}

<!-- Chart JS -->
<script src="{% static 'libs/chart.js/Chart.bundle.min.js' %}"></script>


<script>

function initChart() {
  const ctxRevenue = document.getElementById('revenue');
  const ctxProfit = document.getElementById('profit');

  const data = {
      datasets: [{
          label: 'Bar Dataset',
          data: [10, 15, 20, 30, 35, 30, 40, 38, 40, 45, 50, 46, 49, 50, 57, 59,10, 15, 20, 30, 35, 30, 40, 38, 40, 45, 50, 46, 49, 50, 57, 59],
          order: 1,
          borderColor: 'rgb(255, 99, 132)',
          backgroundColor: '#ab377a26',
      }, {
          label: 'Line Dataset',
          data: [15, 25, 40, 40, 33, 37, 40, 38, 40, 45, 50, 46, 49, 50, 57, 59,40, 35, 40, 30, 35, 30, 40, 38, 40, 45, 50, 46, 49, 50, 57, 59],
          type: 'line',
          order: 2,
          fill: false,
          borderColor: '#AB377A',
      }],
      labels: ['January', 'February', 'March', 'April','January', 'February', 'March', 'April','January', 'February', 'March', 'April','January', 'February', 'March', 'April','January', 'February', 'March', 'April','January', 'February', 'March', 'April','January', 'February', 'March', 'April','January', 'February', 'March', 'April']
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  };


  const revenue = new Chart(ctxRevenue, config);
  const profit = new Chart(ctxProfit, config);

}
function getSnapshots() {
    // get all snapshots
    $.ajax({
        url: "./snapshots",
        method: 'GET',
        success: function (data) {
          console.log('snapshots',data);
          const snapshots = data.map(el => {
            return `<option value="${el.id}">${el.snapshotName}</option>`;
          })
          $("#baseline1, #baseline2").append(snapshots)
        }
    });

  }

  function handleSubmit() {
    const baseline1 = $("#baseline1").val();
    const baseline2 = $("#baseline2").val();
    if(baseline1 && baseline2) {
      $("#compare_submit").prop('disabled', false)
    }
  }
  // tags script
  function openTab(cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    $('button[data-tab="' + cityName + '"]')[0].className += " active";
  }

  // $("#snapshotCompare").submit(function(e) {
  //   e.preventDefault();

  //   // openTab('inspect');
  // })
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  getSnapshots();
  initChart();
</script>


{% endblock extra_javascript %}

