{% extends 'base.html' %} {% load static %} {% block contents %}

<div class="card-body">
    <h5 class="h3">Project Entry</h5>

    <div class="row justify-content-center">{% include "partials/navigation_analytics.html" %} Step: {{ step }} {% if step == 0 %} {% include "analytics/analytics.html" %} {% elif step == 1 %} {% include "analytics/productMasterData.html" %} {% endif %}</div>
</div>

{% endblock contents %} {% block extra_javascript %} {% endblock extra_javascript %}
