{% extends 'base.html' %} {% load custom_tags static crispy_forms_tags %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/spreadsheet/dist/css/jquery.jexcel.css' %}" />
<link rel="stylesheet" href="{% static 'libs/spreadsheet/dist/css/jquery.jcalendar.css' %}" />

{% endblock extra_css %} {% block title %} Volume Entry {% endblock title %} {% block contents %}

<div class="card-body">
    <h5 class="h3">Project Entry</h5>
    <p class="card-title-desc">Required fields are marked with *</p>
    <div class="row justify-content-center">
        <div class="fluid-container" style="z-index: 1">
            <ul class="progressbar p-0">
                <li class="active">Project Creation</li>
                <li class="active">Volume Entry</li>
                <li>Pricing Entry</li>
                <li>Done</li>
            </ul>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mt-4">
                {{ form.media.js }}

                <div class="row">
                    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} {% endif %}
                    <div class="col-12 mb-3">
                        <div class="mt-4">
                            <div class="accordion" id="createVolume">
                                <div class="row" id="automaticDiv">
                                    <div class="col-md-4 col-lg-3">{{form.startOfProduction|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3">{{form.endOfProduction|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3">{{form.totalVolume|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3">{{form.peakYear|as_crispy_field}}</div>
                                </div>
                            </div>
                            <!-- end accordion -->
                        </div>
                    </div>

                    <div id="submitBtn">
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <input type="submit" class="btn btn-success" value="Next Step" />
                        </div>
                    </div>
                </div>

                <!-- end accordion -->
            </div>
        </form>
    </div>
</div>

{% endblock contents %} {% block extra_javascript %}

{% endblock extra_javascript %}
