{% extends 'base.html' %} {% load custom_tags static crispy_forms_tags %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/spreadsheet/dist/css/jquery.jexcel.css' %}" />
<link rel="stylesheet" href="{% static 'libs/spreadsheet/dist/css/jquery.jcalendar.css' %}" />

{% endblock extra_css %} {% block title %} Volume Entry {% endblock title %} {% block contents %}

<div class="card-body">
    <h5 class="h3">Project Entry</h5>
    <p class="card-title-desc">Required fields are marked with *</p>
    <div class="row justify-content-center">
        <div class="fluid-container" style="z-index: 1">
            <ul class="progressbar p-0">
                <li class="active">Project Creation</li>
                <li class="active">Volume Entry</li>
                <li>Pricing Entry</li>
                <li>Done</li>
            </ul>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mt-4">
                {{ form.media.js }}
                <div class="row">
                    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} {% endif %}
                    <div class="col-12 mb-3">
                        <div class="mt-4">
                            <div class="accordion" id="createVolume">
                                <div class="row" id="manualDiv" style="display: none">
                                    <h5 class="card-title">Enter Your Values</h5>
                                    <div id="excel"></div>
                                    <div class="col-md-4 col-lg-3">{{form.excelData|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3" style="display: none;">{{form.startOfProduction|as_crispy_field}}</div>

                                </div>
                            </div>
                            <!-- end accordion -->
                        </div>
                    </div>

                    <div id="submitBtn" style="display: none">
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <input type="submit" class="btn btn-success" value="Next Step" />
                        </div>
                    </div>
                </div>

                <!-- end accordion -->
            </div>
        </form>
    </div>
</div>


{% endblock contents %} {% block extra_javascript %}
<!-- <script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script> -->
<script src="{% static 'libs/spreadsheet/dist/js/jquery.jexcel.js' %}"></script>
<script src="{% static 'libs/spreadsheet/dist/js/jquery.csv.min.js' %}"></script>
<script src="{% static 'libs/spreadsheet/dist/js/excel-formula.min.js' %}"></script>
<script src="{% static 'libs/spreadsheet/dist/js/jquery.jcalendar.js' %}"></script>
<script>
    data1 = [["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""], []]
    const options = {
        data: data1,
        csvFileName: "Product Marketing",
        minSpareCols: 2,
        // funcitons
        onchange: function () {
            var value = $("#excel").jexcel("getData", false)
            var years = value[0].filter((n) => n)
            var months = value[1].filter((n) => n)
            var volumes = value[2].filter((n) => n)

            // if decimals entered, clean...
            for(var i=0; i < volumes.length; i++) {
                volumes[i] = volumes[i].replace(",", '.');
            }

            $("#id_excelData").val(`${years} \n${months} \n${volumes}`)
            console.log("id_excelData months", months, )
            console.log("id_excelData volumes", volumes, )

        },
    }
    $("#excel").jexcel(options)
    var formulas = {
        /**
         * Custom method: SUM - Example: =SUM(C1:C10), =SUM(A1,A2,A3)
         *
         * @param string formula
         * @return total
         */
        sum: function (formula) {
            // Get main table id
            var id = $(this.instance).prop("id")
            // Total to be returned
            var total = 0
            // Check sum type
            var d = formula.split(/:/)
            // Which sum to be used
            if (d.length < 2) {
                // Explode by comman and sum all columns in the formula
                d = formula.split(",")
                $.each($(d), function (k, v) {
                    v = parseInt($("#" + id).jexcel("getValue", v))
                    total += v
                })
            } else {
                t1 = d[0].match(/[a-zA-Z]+/g)
                t2 = d[1].match(/[a-zA-Z]+/g)
                // Sum vertical or horizontal
                if (t1[0] == t2[0]) {
                    // Some all cells in a vertical way
                    co = t1
                    t1 = d[0].match(/[0-9]+/g)
                    t2 = d[1].match(/[0-9]+/g)
                    for (i = t1; i <= t2; i++) {
                        v = parseInt($("#" + id).jexcel("getValue", co + i))
                        total += v
                    }
                } else {
                    // Som all cells in a horizontal way
                    t1 = $("#" + id)
                        .jexcel("id", d[0])
                        .split("-")
                    t2 = $("#" + id)
                        .jexcel("id", d[1])
                        .split("-")

                    for (i = t1[0]; i <= t2[0]; i++) {
                        v = parseInt($("#" + id).jexcel("getValue", i + "-" + t1[1]))
                        total += v
                    }
                }
            }

            try {
                return total
            } catch (e) {
                return null
            }
        },
    }


        
    $(document).ready(function () {
        $("#manualDiv").show(100)
        $("#submitBtn").show(100)

        $("#manual").click(function () {
        })
    })

</script>
{% endblock extra_javascript %}
