{% extends 'base.html' %} {% load custom_tags static crispy_forms_tags %} {% block extra_css %}
<link href="{% static 'libs/select2/dist/css/select2.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %} {% block title %} Project Creation {% endblock title %} {% block contents %}

<div class="card-body">
    <h5 class="h3">Project Entry</h5>
    <p class="card-title-desc">Required fields are marked with *</p>
    <div class="row justify-content-center">
        <div class="fluid-container" style="z-index: 1">
            <ul class="progressbar p-0">
                <li class="active">Project Creation</li>
                <li>Volume Entry</li>
                <li>Pricing Entry</li>
                <li>Done</li>
            </ul>
        </div>

        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="mt-4">
                    {{ form.media.js }}
                    <div class="row">
                        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{error}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %} {% endif %}
                        <div class="col-12 mb-3">
                            <div class="mt-4">
                                <div class="accordion" id="createProject">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#keyFacts" aria-expanded="true" aria-controls="keyFacts">Key Facts</button>
                                        </h2>
                                        <div id="keyFacts" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#createProject">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-md-4 col-lg-3">{{form.projectName|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.productMarketer|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.region|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.secondRegion|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.estimatedSop|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.status|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.salesContact|as_crispy_field}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#customerInformation" aria-expanded="false" aria-controls="customerInformation">Customer Information</button>
                                        </h2>
                                        <div id="customerInformation" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#createProject">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-md-4 col-lg-3">{{form.mainCustomer|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.finalCustomer|as_crispy_field}}</div>

                                                    <div class="col-md-4 col-lg-3">{{form.distributor|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.ems|as_crispy_field}}</div>

                                                    <div class="col-md-4 col-lg-3">{{form.tier1|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.oem|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.vpaCustomer|as_crispy_field}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#productInformation" aria-expanded="false" aria-controls="productInformation">Product Information</button>
                                        </h2>
                                        <div id="productInformation" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#createProject">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-md-4 col-lg-3">{{form.product_family|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.product_series|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.product_package|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.sales_name|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.applicationMain|as_crispy_field}}</div>
                                                    <div class="col-md-4 col-lg-3">{{form.applicationDetail|as_crispy_field}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end accordion -->
                            </div>
                        </div>

                        <div class="mb-3">{{form.comment|as_crispy_field}}</div>

                        <div class="d-flex flex-wrap justify-content-end gap-2">
                            <input type="submit" class="btn btn-success" value="Next Step" />
                        </div>
                    </div>

                    <!-- end accordion -->
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contents %} {% block extra_javascript %}
<script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script>
<script>
    $(document).ready(function () {
        // select2 on sales name

        var product_family = $("#id_product_family")
        var product_series = $("#id_product_series")
        var product_package = $("#id_product_package")
        var sales_name = $("#id_sales_name")

        product_family.select2({
            width: "100%",
        })
        product_series.select2({
            width: "100%",
        })
        product_package.select2({
            width: "100%",
        })
        sales_name.select2({
            width: "100%",
        })

        // select series
        product_family.on("select2:select", function () {
            $.post("{% url 'series_list_json' %}", {query: this.value}, function (data, status) {
                var series = data.data
                product_series.empty().trigger("change")
                var newOptions = [new Option("---------", "", true, true)]
                series.forEach((element, key) => {
                    newOptions.push(new Option(element.text, element.id, false, false))
                })
                product_series.append(newOptions).trigger("change")
            })
        })
        // select packages
        product_series.on("select2:select", function () {
            $.post("{% url 'package_list_json' %}", {query: this.value}, function (data, status) {
                var packages = data.data
                product_package.empty().trigger("change")
                var newOptions = [new Option("---------", "", true, true)]
                packages.forEach((element, key) => {
                    newOptions.push(new Option(element.text, element.text, false, false))
                })
                product_package.append(newOptions).trigger("change")
            })
        })
        // select sales name
        product_package.on("select2:select", function () {
            $.post("{% url 'sales_name_list_json' %}", {query: this.value}, function (data, status) {
                var names = data.data
                sales_name.empty().trigger("change")
                var newOptions = [new Option("---------", "", true, true)]
                names.forEach((element, key) => {
                    newOptions.push(new Option(element.text, element.text, false, false))
                })
                sales_name.append(newOptions).trigger("change")
            })
        })
    })
</script>

{% endblock extra_javascript %}
