{% extends 'base.html' %} {% load custom_tags static crispy_forms_tags %} {% block extra_css %}
{% endblock extra_css %} {% block title %} Volume Entry {% endblock title %} {% block contents %}

<div class="card-body">
    <h5 class="h3">Project Entry</h5>
    <p class="card-title-desc">Required fields are marked with *</p>
    <div class="row justify-content-center">
        <div class="fluid-container" style="z-index: 1">
            <ul class="progressbar p-0">
                <li class="active">Project Creation</li>
                <li class="active">Volume Entry</li>
                <li>Pricing Entry</li>
                <li>Done</li>
            </ul>
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center h-30" id="choiceModel">
            <div class="d-flex flex-wrap gap-2">
                <button type="button" id="manual" class="btn btn-primary bg-brown btn-lg waves-effect waves-light" onclick="window.location.href='{% url 'create_volume_excel_view' %}';"  href="{% url 'create_volume_excel_view' %}" value="Excel" >Excel Copy & Paste</button>
                <button type="button" id="automatic" class="btn btn-secondary bg-magenta btn-lg waves-effect waves-light" onclick="window.location.href='{% url 'create_volume_automatic_view' %}';" href="{% url 'create_volume_automatic_view' %}" value="Automatic" >Automatic Volume Distribution</button>
            </div>
        </div>
    </div>
</div>

{% endblock contents %} 
{% block extra_javascript %}
{% endblock extra_javascript %}
