{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="SAAS For a company" name="description" />
        <meta content="Saadat Ali" name="author" />

        <title>{% block title %} {{heading}} {% endblock title %} | Product Marketing</title>

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        {% block css %}
        <!-- extra css -->
        {% block extra_css %} {% endblock %}
        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>

        {% endblock css %}
    </head>

    <body data-sidebar="light" data-layout-mode="light">
        <!-- Begin page -->
        <div id="layout-wrapper">
            {% block header %} {% include 'partials/header.html' %} {% endblock %} {% block sidebar %} {% include 'partials/sidebar.html' %} {% endblock %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid px-0">
                        {% if messages %} {% for message in messages %}
                        <div class="alert {{message.tags}}" role="alert">{{message}}</div>
                        {% endfor %} {% endif %}

                        <!-- end page title -->
                        <div class="card rounded-14">
                            <div class="card-body">{% block contents %} {% endblock contents %}</div>
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% block extra_content %} {% endblock %} {% block footer %} {% include 'partials/footer.html' %} {% endblock %}
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->
        {% block Subscribe %} {% endblock %} {% block r_sidebar %} {% include 'partials/rightsidebar.html' %} {% endblock %} {% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>


        {% block extra_javascript %} {% endblock %}

        <script src="{% static 'js/app.js' %}"></script>
        {% endblock javascript %}
    </body>
</html>
