<nav class="navbar nav-pills navbar-light navbar-expand-lg nav-fill bg-transparent float-end">
  <!--  navbar-light -->
  <!-- <a class="navbar-brand" href="communication.html">Kommunikation - Home</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav bg-light">
      <a class="btn btn-success m-2" href="/ifx/productMarketing/boupOverviewSlim"> Slim view</a>     
      <a class="btn btn-success m-2" href="/ifx/productMarketing/boupOverview"> Full Bottom Up</a>     
      <a class="btn btn-success m-2 " href="/"> Drafts<span class="sr-only">Drafts</span></a>


      <!-- <a class="nav-item nav-link" href="communication_filter.html">Detailübersicht </a>-->
    </div>
  </div>
</nav>