{% extends 'base.html' %} {% load static %} {% block contents %}
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-12">
            <div class="row border-4 border-bottom">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <i class="bx bx-group text-green text-shadow-green" style="font-size: 50px"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0 h1">
                                        1,235 <span><i class="bx bx-trending-up text-green"></i></span>
                                    </h4>
                                    <p class="text-muted fw-medium">Total Order Received</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <i class="mdi mdi-chart-pie text-yellow text-shadow-yellow" style="font-size: 50px"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0 h1">
                                        $1,235 <span><i class="bx bx-trending-up text-green"></i></span>
                                    </h4>
                                    <p class="text-muted fw-medium">Your Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <i class="mdi mdi-briefcase-variant text-red text-shadow-red" style="font-size: 50px"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0 h1">
                                        1,235 <span><i class="bx bx-trending-up text-green"></i></span>
                                    </h4>
                                    <p class="text-muted fw-medium">Total Projects</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <i class="mdi mdi-cart-plus text-pink text-shadow-pink" style="font-size: 50px"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0 h1">
                                        1,235 <span><i class="bx bx-trending-down text-red"></i></span>
                                    </h4>
                                    <p class="text-muted fw-medium">Orders Pending</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
