/* header */
#page-topbar {
    background-color: #F2F2F2;
}

.page-content {
    padding: calc(63px + 24px) calc(24px / 2) 60px calc(24px / 2);
}

/* menu */
.vertical-menu {
    background-color: #F2F2F2;
    transition: all 0.3s ease;
}



.navbar-brand-box {
    background-color: #F2F2F2;
    box-shadow: none;

}


#sidebar-menu ul li {
    line-height: 3;
    border-bottom: 1px solid #E0E0E0;
    letter-spacing: 0.6px;
}


#sidebar-menu ul li.mm-active a::after {
    content: "";
    background-color: #5EA290;
    z-index: 1027;
    position: absolute;
    right: 0;
    top: 5px;
    width: 6px;
    border-radius: 10px 0 0 10px;
    height: calc(100% - 5px);
}

.mm-active .active {
    color: #5EA290 !important;
    font-weight: bold;
    text-shadow: 0 1rem 3rem rgba(94, 162, 144, 0.50);
}

.mm-active .active i {
    color: #5EA290 !important;
    font-weight: bold;
}

/* main content */
.bg-green {
    background-color: #69ae9c;
}

.bg-login-screen {
    background: url("/static/images/bg-login.png") #69AE9C repeat-y fixed;
}

.main-content {
    background-color: #F2F2F2;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-left: 0;
}

/* custom classes */
.rounded-14 {
    border-radius: 30px
}

.rounded-l-10 {
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.text-green {
    color: #1CCE66;
}

.text-green-light {
    color: #C8F4E9;
}

.text-yellow {
    color: #F5C631;
}

.text-red {
    color: #FF6363;
}

.text-pink {
    color: #CE0378;
}

/* text shadows */

.text-shadow-green {
    text-shadow: 0 1px 2rem rgba(28, 206, 102, 0.5);
}

.text-shadow-yellow {
    text-shadow: 0 1px 2rem rgba(245, 198, 49, 0.5);
}

.text-shadow-red {
    text-shadow: 0 1px 2rem rgba(255, 99, 99, 0.5);
}

.text-shadow-pink {
    text-shadow: 0 1px 2rem rgba(206, 3, 120, 0.5);
}


/* components */
/* accordion */
.accordion-button:not(.collapsed) {
    color: #5EA290 !important;
    background-color: rgba(196, 238, 226, 0.4) !important;
}

/* progress bar */

.progressbar {
    counter-reset: step;
    z-index: 1;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #AB377A;

}

.progressbar li.active:before {
    border-color: #AB377A;
}

.progressbar li.active+li:after {
    background-color: #AB377A;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #5e72e4;
    transition: width 0.6s ease;
}

.loginBtn {
    background-color: #5EA290;
    box-shadow: 0 1px 10px rgba(94, 162, 144, 0.5);
}

/* sizing */

.vh-75 {
    height: 75vh;
}

/* form */
.h-30 {
    height: 30rem !important;
}

/* background colors */

.bg-brown {
    background-color: #644F54 !important;
}

.bg-magenta {
    background-color: #AB377A !important;
}